.done-true {
	text-decoration: line-through;
	color: grey;
}

body {
  background: url(/images/mountains.jpeg);
  }

.list {
	background: white;
	position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
	margin: -122px 0 100px -180px;
}

h2, li {
		position: relative;
    background: #1abc9c;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h2 {
	letter-spacing: 5px;
	}

li {
      background: #fff;
      background: rgba(255,255,255,.15);
      color: #666;
      font-size: 14px;
      line-height: 24px;
}

.form-horizontal, .completed {
		height:44px;
}

.input-box {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	transition: border-color 0.25s ease-in-out;
	-webkit-transition: border-color 0.25s ease-in-out;
	-moz-transition: border-color 0.25s ease-in-out;
	-o-transition: border-color 0.25s ease-in-out;
	border: 1px solid #c7d1dc;
	padding: 0.3rem 0.5rem;
	color: #8aa2ba;
	font-weight: 300;
	height: 20px;
	font-size: 0.8rem;
	width: 65%;
	margin: 7px 7px 8px 18px;
	}

button {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	cursor: pointer;
}

.add-btn {
	border: 2px solid #00d0ac;
	background-color: #00d0ac;
	color: white;
	font-size: 1.1rem;
	width:16%;
	margin-left: 3px;
}

.clear {
	color: #fff;
	background-color: #bdc3c7;
	border: #bdc3c7;
	 font-size: 14px;
  padding: 4px 19px;
  margin: 1px 19px 13px 11px;
}

.jumping {
	height: 20px;
	color: white;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #666;
	padding-top: 5px;

}

.completed {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	}
